<h1 class="current-category">
  <%= params[:category] %>
</h1>
<% if @plays.count == 0 %>
  <p>There are no plays with in this category.</p>
  <% else %>
  <div class="row">
    <% @plays.each do |play| %>
    <div class="col-md-4">
      <h2><%= link_to play.title, play_path(play) %></h2>
      <%= image_tag play.play_img, class: 'img-responsive' %>
    </div>

      <!-- <div><%= play.title %></div>
      <div><%= play.description %></div>
      <div><%= play.director %></div> -->
    <% end %>
  </div>
<% end %>
